<p id="notice"><%= notice %></p>

<h1>User Pets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Pet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_pets.each do |user_pet| %>
      <tr>
        <td><%= user_pet.user_id %></td>
        <td><%= user_pet.pet_id %></td>
        <td><%= link_to 'Show', user_pet %></td>
        <td><%= link_to 'Edit', edit_user_pet_path(user_pet) %></td>
        <td><%= link_to 'Destroy', user_pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Pet', new_user_pet_path %>
